<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem
        id="docs_information_menu"
        name="Documentos"
        action="docs_information.action_employee_document"
        web_icon="docs_information,static/description/icon.png"
        sequence="10" />

    <menuitem
        id="employee_documents_sub_menu"
        name="Documentos de Empleados"
        action="docs_information.action_employee_document"
        parent="docs_information.docs_information_menu"
        sequence="10" />

    <menuitem
        id="vehicle_documents_sub_menu"
        name="Documentos de Vehiculos"
        action="docs_information.action_vehicle_document"
        parent="docs_information.docs_information_menu"
        sequence="20" />
</odoo>