/* .o_attachment_pdf iframe {
    width: -webkit-fill-available !important;
    height: -webkit-fill-available !important;
    margin-top: 0px !important;
} */

.o_pdfview_iframe {
    width: -webkit-fill-available !important;
    height: -webkit-fill-available !important;
    margin-top: 0px !important;
}